# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/

# Tests / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
.ruff_cache/

# Entorno
.env
*.db
*.sqlite3

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db
